# Scadder Development Artifacts
.scadder_modules/
scadder.json
scadder-cli-readme.md

# Build and Cache
.scadder_cache/
node_modules/
.DS_Store

# Web build artifacts (if applicable)
dist/
*/.DS_Store
